<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SXA.Theme.Optimizations.DevelopmentMode" value="false" />
		</settings>
		<services>
			<configurator type="SXA.Theme.Optimizations.App_Start.Configurator, SXA.Theme.Optimizations" />
		</services>
		<pipelines>
			<initialize>
				<processor type="SXA.Theme.Optimizations.Pipelines.SubscribeRemoteEvent, SXA.Theme.Optimizations" role:require="ContentDelivery" />
			</initialize>
		</pipelines>
		<commands>
			<command name="sxathemeoptimizations:optimize" type="SXA.Theme.Optimizations.Commands.Optimize, SXA.Theme.Optimizations" />
			<command name="sxathemeoptimizations:optimizeremote" type="SXA.Theme.Optimizations.Commands.OptimizeRemote, SXA.Theme.Optimizations" />
		</commands>
		<events>
			<event name="item:saving" role:require="ContentManagement or Standalone">
				<handler type="SXA.Theme.Optimizations.Handlers.OptimizeScripts, SXA.Theme.Optimizations" method="OnSaving" />
			</event>
			<event name="sxathemeoptimizations:optimize">
				<handler type="SXA.Theme.Optimizations.Handlers.OptimizeScripts, SXA.Theme.Optimizations" method="OptimizeEvent" />
			</event>
			<event name="sxathemeoptimizations:optimize:remote">
				<handler type="SXA.Theme.Optimizations.Handlers.OptimizeScripts, SXA.Theme.Optimizations" method="OptimizeEventRemote" />
			</event>
		</events>
	</sitecore>
</configuration>